
:root{
    --black:#000;
    --blue:#00b4d8;
    --white:#fff;

}

nav{
    width: 100vw;
    height: 4rem;
    background-color:var(--blue) ;
    color: var(--white);
}
ion-icon{
  color: var(--white);
   }

input::placeholder{  
    text-align: center;
}
textarea::placeholder{  
    text-align: center;
    line-height: 150px;
  
}

footer{
    width: 100vw;
    height: 4rem;
}
@media screen and (max-width: 405px) {
    nav{
        height: 3rem;
    }
    
    p{
        font-size: 14px !important;
    }
   footer{
    font-size: 12px !important;
   }
   ion-icon{
    font-size: 22px !important;
   }
  }

  @media screen and ( max-width:860px) and (min-width: 405px) {
   
    nav{
    height: 8vh;
   }
    h4{
        font-size: 18px !important;
    }
   
   input{
    font-size: 16px !important;
   }
   footer{
    font-size: 13px !important;
   }   
   ion-icon{
    font-size: 25px !important;
   }
  }